<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Medi</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              TE INVITO A
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          </button>


        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- hero section -->
    <section class="hero_section">
      <div class="hero_detail">
        <h1>
          <span>
            M
          </span>
          <span>
            I
          </span>
          <span>
            S
          </span>
          <span>
            
          </span>
          <span>
            X
          </span>
          <span>
            V
          </span>
        </h1>
        <h3>
          ZAIRA ROMERO
          </h2>
      </div>
      <div class="hero_btn-box">

      </div>
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->


  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="about_container">
      <div class="container">
        <div class="detail">

          <p class="letras">
            El camino que conduce a un mundo nuevo de iluciones y esperanzas. 
            un mundo de sueños realizados y afectos compartidos
          
          </p>
          <div>
            <a >
              
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p class="letras">
            ese es el camino que comienzo a transitar esa noche que marcará un momento inolvidable.
          espero que me acompañes para compartirlo.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2>
        mis fotos
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="img-box box-1">
        <img src="images/zaira1.jpeg" alt="">
      </div>
      <div class="img-box box-2">
        <img src="images/zaira2.jpeg" alt="">
      </div>
      <div class="img-box box-3">
        <img src="images/zaira3.jpeg" alt="">
      </div>
      <div class="img-box box-4">
        <img src="images/zaira4.jpeg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">

    </div>
  </section>


  <section class="product_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2>
         Establecimiento
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="img-box box-1">
        <img src="images/local4.jpeg" alt="">
      </div>
      <div class="img-box box-2">
        <img src="images/local2.jpeg" alt="">
      </div>
      <div class="img-box box-3">
        <img src="images/local3.jpeg" alt="">
      </div>
      <div class="img-box box-4">
        <img src="images/local1.jpeg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">
 
    </div>
  </section>


  <!-- end product section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <h2">
          Regalos
        </h2>
        <p class="">

          tu presencia es lo mas importante, pero 
            si un regalo me quieres obsequiar lo sabre apreciar
          
        </p>
      </div>
    </div>
    <div class="why_container my-4">
      <div class="img_box">
        <img src="images/vestimenta.jpg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">

    </div>
  </section>

  <!-- end why section -->



  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="col-md-6">
        <div class="d-flex mb-4 ml-4 ml-md-0">
          <h2text-center">
            Fecha y Hora
          </h2>
        </div>
        <form action="">
          <div class="img_box">
            <img class="invi" src="images/invitacion.jpeg" alt="">
          </div>
        </form>
      </div>
    </div>

  </section>

  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2>
        gracias papa!!
      </h2>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img class="dario" src="images/dario.jpeg" alt="">
              </div>

              <div class="detail_box">
                <h5>
                  <span>
                    I
                  </span>
                  <span>
                    T
                  </span>
                  <span>
                    I
                  </span>
                  <span>
                    N
                  </span>
                  <span>
                    E
                  </span>
                  <span>
                    R
                  </span>
                  <span>
                    A
                  </span>
                  <span>
                    R
                  </span>
                  <span>
                    I
                  </span>
                  <span>
                    O
                  </span>
                </h5>

                <div class="img_box">
                  <img class="invi" src="images/itinerario.jpeg" alt="">
                </div>
                
              </div>
            </div>
          </div>
          
        </div>

      </div>

    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container layout_padding-top  layout_padding2-bottom">
      <div class="logo-box">

      </div>
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="images/location-white.png" alt="" />
            </div>
            <div class="detail-box">

              <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.8647555595635!2d-58.27859172534653!3d-34.809344272881276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3290003acdc69%3A0x35155ab40083c668!2sCLAHE%20EVENTOS%20VARELA!5e0!3m2!1ses-419!2sar!4v1732127208809!5m2!1ses-419!2sar">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.8647555595635!2d-58.27859172534653!3d-34.809344272881276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3290003acdc69%3A0x35155ab40083c668!2sCLAHE%20EVENTOS%20VARELA!5e0!3m2!1ses-419!2sar!4v1732127208809!5m2!1ses-419!2sar" 
              width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
              

            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="images/envelope-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                CLAHE EVENTOS
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="images/telephone-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                1165925507
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; invitaciones digitales
      <a href="https://html.design/">sergio romero 1122502748</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>